<div class="hangman-container">
  <h2>Hanged Man Play time</h2>
  <h2><b>Round: {{stage}}</b></h2>
  <app-stopwatch></app-stopwatch>
  <button (click)="startNewGame()" *ngIf="!isGameStarted">Start Game</button>
  <p>{{ maskedWord }}</p>
  <div class="letter-buttons">
    <ng-container *ngIf="isGameStarted">
      <button  *ngFor="let letter of getLetters()"
            #lettersComponent
            [disabled]="isGameOver  || isGuessedLetters(letter)"
            [attr.id]="letter"
            (click)="guessLetter(letter)">
      {{ letter }}
      </button>
    </ng-container>
  </div>
  <p *ngIf="isGameStarted">Mistakes: {{ getErrors() }} / {{ getMaxErrors() }}</p>
  <div *ngIf="isGameOver">
    <p *ngIf="isWin">Congratulations! You won!</p>
    <p *ngIf="!isWin">You lose! The word you are looking for is: <b>{{ word }}</b></p>
    <button (click)="startNewGame()" *ngIf="isGameStarted">New Game</button>
  </div>
</div>
